.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
.project-floating-tile{
    position: absolute;
    left: 100px;
    top:80px;
    width: 300px;
    /* height: 350px; */
    height: 65px;
    border-radius: 33px;
    overflow: hidden;

    background-color: rgba(246, 244, 235, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 15px -3px gray;
    
}

.highlight{
    box-shadow: 0px 0px 15px 2px gray;
}

.dim-background{
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.2);
}
.project-tile-img-container{
    width: 300px;
    height: 300px
}
.project-tile-img{
    position: relative;
    bottom: 0px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-left: 30px;
    opacity: 0.7;
    
}

.img2{
    left: -284px;
    opacity: 0.0;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* margin-right: 30px; */
}
